@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --text-color: #e3e3e3;
    --subheading-color: #828282;
    --placeholder-color: #a6a6a6;
    --primary-color: #242424;
    --secondary-color: #383838;
    --secondary-hover-color: #444;
}

.light_mode{
    --text-color: #222;
    --subheading-color: #a0a0a0;
    --placeholder-color: #6c6c6c;
    --primary-color: #fff;
    --secondary--color: #e9eef6;
    --secondary-hover-color: #dbe1ea;
}

body{
    background: var(--placeholder-color);
}

.header, .chat-list, .message, .typing-form{
    margin: 0 auto;
    max-width: 980px;
}

.header{
    margin-top: 6vh;
    padding: 1rem;
    overflow-x: hidden;
}

body.hide-header .header{
    margin: 0;
    display: none;
}

.header :where(.title, .subtitle){
    color: var(--text-color);
    font-weight: 500;
    line-height: 4rem;
}

.header .title{
    width: fit-content;
    font-size: 3rem;
    background-clip: text;
    background: linear-gradient(to right, #4285f4, #d96570);
    -webkit-background-clip: text;
    --webkit-text-fill-color: transparent;
}

.header .subtitle{
    font-size: 2.6rem;
    color: var(--subheading-color);
}

.suggestion-list{
    width: 100%;
    list-style: none;
    display: flex;
    gap: 1.25em;
    margin-top: 9.5vh;
    overflow: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.suggestion-list .suggestion{
    cursor: pointer;
    padding: 1.25rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 0.75rem;
    justify-content: space-between;
    background: var(--secondary--color);
    transition: 0.2s ease;
}

.suggestion-list .suggestion:hover{
    background: var(--secondary-hover-color);
}

.suggestion-list .suggestion :where(.text, .icon){
    font-weight: 400;
    color: var(--text-color);
}

.suggestion-list .suggestion .icon{
    width: 42px;
    height: 42px;
    display: flex;
    font-size: 1.3rem;
    margin-top: 2.5rem;
    align-self: flex-end;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    color: var(--text-color);
    background: var(--primary-color);
}

.chat-list{
    padding: 2rem 1rem 12rem;
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-color: #999 transparent;
}

.chat-list .message.incoming{
    margin-top: 1.5rem;
}

.chat-list .message .message-content{
    display: flex;
    gap: 1.5rem;
    width: 100%;
    align-items: center;
}

.chat-list .message .text{
    color: var(--text-color);
    white-space: pre-wrap;
}

.chat-list .message.error .text{
    color: #e55865;
}

.chat-list .message.loading .text{
    display: none;
}

.chat-list .message .avatar{
     width: 40px;
     height: 40px;
     object-fit: cover;
     border-radius: 50%;
     align-self: flex-start;
}

.chat-list .message.loading.avatar{
    animation: rotate 3s linear infinite;
}