@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --text-color: #e3e3e3;
    --subheading-color: #828282;
    --placeholder-color: #a6a6a6;
    --primary-color: #242424;
    --secondary-color: #383838;
    --secondary-hover-color: #444;
}

.light_mode{
    --text-color: #222;
    --subheading-color: #a0a0a0;
    --placeholder-color: #6c6c6c;
    --primary-color: #fff;
    --secondary--color: #e9eef6;
    --secondary-hover-color: #dbe1ea;
}

body{
    background: var(--placeholder-color);
}

